doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Adobe Product

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section(data-bespoke-hash='Title')
        img(src='/image/Adobe-Fuel.png')
        h1.bullet Adobe Product
        h2.bullet Disusun Oleh
        ul
          li Kelvin (12.111.0651)
          li Juandy Hartanto (12.111.0669)
          li Roberto (12.111.0766)

      section(data-bespoke-hash='Introduction')
        b
          img(src='/image/logo adobe big.png')
          box
            h2.bullet Introduction
            hr
            br
            p.bullet          Adobe Systems (NASDAQ: ADBE) adalah perusahaan perangkat lunak yang bergerak di bidang grafis, animasi, video, dan pengembangan web. Adobe adalah salah satu perusahaan perangkat lunak yg paling besar di dunia. Perusahaan ini didirikan pada tahun 1982 dan berpusat di San Jose, California, AS. Beberapa dari produk-produknya yang terkenal dan mendunia adalah Photoshop, Flash, dan Acrobat. Adobe telah berkembang pesat dalam beberapa tahun terakhir baik dari segi penjualan ataupun jumlah pengguna. Pada tahun 2005 perusahaan Macromedia telah dibeli oleh Adobe.

        footer
          img(src='/image/footer.png')
          p 1
          te Introducing Adobe
          
      section(data-bespoke-hash='History')
        history
          img(src='/image/logo adobe small.png')
          box
            h2.bullet Sejarah Perusahaan Adobe
            hr
            br
            p.bullet Adobe didirikan pada Desember 1982  oleh John Warnock dan Charles Geschke , yang mendirikan perusahaan setelah meninggalkan Xerox PARC dalam rangka mengembangkan dan menjual PostScript bahasa deskripsi halaman . Pada tahun 1985, Apple Computer PostScript lisensi untuk digunakan di perusahaan LaserWriter printer , yang membantu memicu desktop publishing revolusi. Perusahaan Nama Adobe berasal dari Adobe Creek di Los Altos , California, yang mengalir di belakang rumah kedua pendiri perusahaan. Adobe mengakuisisi pesaing mantan, Macromedia , pada bulan Desember 2005, yang menambah produk perangkat lunak baru dan platform seperti ColdFusion , Dreamweaver , flash dan Flex untuk portofolio produknya.
            
            p.bullet Pada 2010, Adobe Systems memiliki 9.117 karyawan,  sekitar 40% di antaranya bekerja di San Jose. Adobe juga memiliki operasi pembangunan besar di Orlando , Seattle, San Francisco, Lehi, Utah , Minneapolis , Waltham, Massachusetts , dan San Luis Obispo, California di Amerika Serikat, Ottawa , Kanada, Hamburg , Jerman, Noida dan Bangalore , India, Bucharest , Rumania, Basel , Swiss, dan Beijing , Cina.

        footer
          img(src='/image/footer.png')
          p 2
          te History Adobe 
        
      section(data-bespoke-hash='Adobe-Products')
        center
          img(src='/image/3.png')
        footer
          img(src='/image/footer.png')
          p 3
          te Adobe Product

      section(data-bespoke-hash='Adobe-Illustrator')
        ai
          img(src='/image/logo adobe small.png')
          box.bullet
            h2.bullet Adobe Illustrator
            hr.bullet
            br
            p.bullet Adobe Illustrator pertama kali dikembangkan oleh Adobe Inc pada bulan Desember 1986 (pengiriman pada bulan Januari 1987) sebagai komersialisasi di rumah Adobe huruf pengembangan perangkat lunak dan PostScript format file. 
            p.bullet Adobe Illustrator adalah produk pendamping dari Adobe Photoshop . Photoshop adalah terutama diarahkan foto digital manipulasi dan fotorealistik gaya ilustrasi komputer , sementara Illustrator memberikan hasil dalam typesetting dan logo daerah grafik desain .

        footer
          img(src='/image/footer.png')
          p 4
          te Adobe Illustrator         

      section(data-bespoke-hash='Adobe-Illustrator-Example')
        history.bullet
          img(src='/image/logo adobe small.png')
        aiex
          h2.bullet Adobe Illustrator Examples
          img.bullet(src='/image/Adobe Illustrator Sample.jpg')
        footer
          img(src='/image/footer.png')
          p 5
          te Illustrator Review example

      section(data-bespoke-hash='Adobe-Photoshop')
        ps
          img(src='/image/logo adobe small.png')
          box.bullet
            h2.bullet Adobe Photoshop
            hr.bullet
            br
            p.bullet Adobe Photoshop, atau biasa disebut Photoshop, adalah perangkat lunak editor citra buatan Adobe Systems yang dikhususkan untuk pengeditan foto/gambar dan pembuatan efek. 
            p.bullet Perangkat lunak ini banyak digunakan oleh fotografer digital dan perusahaan iklan sehingga dianggap sebagai pemimpin pasar (market leader) untuk perangkat lunak pengolah gambar/foto.
            

        footer
          img(src='/image/footer.png')
          p 6
          te Adobe Photoshop         

      section(data-bespoke-hash='Adobe-Photoshop-Example')
        history.bullet
          img(src='/image/logo adobe small.png')
        psex
          h2.bullet Adobe Photoshop Examples
          img.bullet(src='/image/Adobe Photoshop Sample.jpg')
        footer
          img(src='/image/footer.png')
          p 7
          te Photoshop Review example

      section(data-bespoke-hash='Adobe-InDesign')
        id
          img(src='/image/logo adobe small.png')
          box.bullet
            h2.bullet Adobe InDesign
            hr.bullet
            br
            p.bullet Adobe InDesign adalah perangkat lunak desktop publishing (DTP) yang diproduksi oleh Adobe Systems yang dapat digunakan untuk membuat poster, brosur, bahkan majalah atau buku. Desainer dan artis merupakan salah satu pengguna utama program ini.
            p.bullet Adobe InDesign merupakan perangkat lunak canggih untuk mengatur desain tataletak media publikasi seperti koran dan majalah. Meski mampu membuat desain tataletak yang kompleks, InDesign juga dapat digunakan untuk desain yang lebih sederhana seperti iklan halaman tunggal atau brosur.

        footer
          img(src='/image/footer.png')
          p 8
          te Adobe InDesign         

      section(data-bespoke-hash='Adobe-InDesign Example')
        
        history.bullet
          img(src='/image/logo adobe small.png')
        idex
          h2.bullet Adobe InDesign Examples
          img.bullet(src='/image/Adobe InDesign Sample.png')
        footer
          img(src='/image/footer.png')
          p 9
          te InDesign Review example
      
      section(data-bespoke-hash='Adobe-Dreamweaver')
        dw
          img(src='/image/logo adobe small.png')
          box.bullet
            h2.bullet Adobe Dreamweaver
            hr.bullet
            
            p.bullet Adobe Dreamweaver adalah aplikasi desain dan pengembangan web yang menyediakan editor WYSIWYG visual (bahasa sehari-hari yang disebut sebagai Design view) dan kode editor dengan fitur standar seperti syntax highlighting, code completion, dan code collapsing serta fitur lebih canggih seperti real-time syntax checking dan code introspection untuk menghasilkan petunjuk kode untuk membantu pengguna dalam menulis kode.
            p.bullet Tata letak tampilan Design memfasilitasi desain cepat dan pembuatan kode seperti memungkinkan pengguna dengan cepat membuat tata letak dan manipulasi elemen HTML. Dreamweaver memiliki fitur browser yang terintegrasi untuk melihat halaman web yang dikembangkan di jendela pratinjau program sendiri agar konten memungkinkan untuk terbuka di web browser yang telah terinstall. 
        footer
          img(src='/image/footer.png')
          p 10
          te Adobe Dreamweaver         

      section(data-bespoke-hash='Adobe-Dreamweaver-Example')
        
        history.bullet
          img(src='/image/logo adobe small.png')
        dwex
          h2.bullet Adobe Dreamweaver Examples
          img.bullet(src='/image/Adobe Dreamweaver Sample.jpg')
        footer
          img(src='/image/footer.png')
          p 11
          te Dreamweaver example


      section(data-bespoke-hash='Adobe-Flash')
        fl
          img(src='/image/logo adobe small.png')
          box.bullet
            h2.bullet Adobe Flash
            hr.bullet
            
            p.bullet Adobe Flash merupakan sebuah program yang didesain khusus oleh Adobe dan program aplikasi standar authoring tool professional yang digunakan untuk membuat animasi dan bitmap yang sangat menarik untuk keperluan pembangunan situs web yang interaktif dan dinamis. 
            p.bullet Flash didesain dengan kemampuan untuk membuat animasi 2 dimensi yang handal dan ringan sehingga flash banyak digunakan untuk membangun dan memberikan efek animasi pada website, CD Interaktif dan yang lainnya. Selain itu aplikasi ini juga dapat digunakan untuk membuat animasi logo, movie, game, pembuatan navigasi pada situs web, tombol animasi, banner, menu interaktif, interaktif form isian, e-card, screen saver dan pembuatan aplikasi-aplikasi web lainnya.
        footer
          img(src='/image/footer.png')
          p 12
          te Adobe Flash   
      section(data-bespoke-hash='Adobe-Flash-Example')
        
        history.bullet
          img(src='/image/logo adobe small.png')
        flex
          h2.bullet Adobe Flash Examples
          img.bullet(src='/image/Adobe Flash Sample.jpg')
        footer
          img(src='/image/footer.png')
          p 13
          te Flash Review example
      section(data-bespoke-hash='Adobe-Creative-Cloud')
        history.bullet
          img(src='/image/logo adobe small.png')
        cloudc
          img.bullet(src='/image/adobe creative cloud.png')
        footer
          img(src='/image/footer.png')
          p 14
          te Adobe Creative Cloud Review

      section(data-bespoke-hash='Adobe-CC-work')
        history.bullet
          img(src='/image/logo adobe small.png')
        howcc
          img.bullet(src='/image/creativecloudwork.png')
        footer
          img(src='/image/footer.png')
          p 15
          te How Creative Cloud Work
      section(data-bespoke-hash='Thank-You')
        img(src='/image/thank-you.jpg')
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild