doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Adobe Product

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        img(src='/image/Adobe-Fuel.jpg')
        h1.bullet Adobe Product
        h2.bullet Disusun Oleh
        ul
          li Kelvin (12.111.0651)
          li Juandy Hartanto (12.111.0669)
          li Roberto (12.111.0766)

      section
        b
          img(src='/image/logo adobe big.png')
          box
            h2.bullet Introduction
            hr
            br
            p.bullet          Adobe Systems (NASDAQ: ADBE) adalah perusahaan perangkat lunak yang bergerak di bidang grafis, animasi, video, dan pengembangan web. Adobe adalah salah satu perusahaan perangkat lunak yg paling besar di dunia. Perusahaan ini didirikan pada tahun 1982 dan berpusat di San Jose, California, AS. Beberapa dari produk-produknya yang terkenal dan mendunia adalah Photoshop, Flash, dan Acrobat. Adobe telah berkembang pesat dalam beberapa tahun terakhir baik dari segi penjualan ataupun jumlah pengguna. Pada tahun 2005 perusahaan Macromedia telah dibeli oleh Adobe.

        footer
          img(src='/image/footer.png')
          p 1
          te Introducing Adobe
          
      section
        history
          img(src='/image/logo adobe small.png')
          box
            h2.bullet Sejarah Perusahaan Adobe
            hr
            br
            p.bullet Adobe didirikan pada Desember 1982  oleh John Warnock dan Charles Geschke , yang mendirikan perusahaan setelah meninggalkan Xerox PARC dalam rangka mengembangkan dan menjual PostScript bahasa deskripsi halaman . Pada tahun 1985, Apple Computer PostScript lisensi untuk digunakan di perusahaan LaserWriter printer , yang membantu memicu desktop publishing revolusi. Perusahaan Nama Adobe berasal dari Adobe Creek di Los Altos , California, yang mengalir di belakang rumah kedua pendiri perusahaan. Adobe mengakuisisi pesaing mantan, Macromedia , pada bulan Desember 2005, yang menambah produk perangkat lunak baru dan platform seperti ColdFusion , Dreamweaver , flash dan Flex untuk portofolio produknya.
            
            p.bullet Pada 2010, Adobe Systems memiliki 9.117 karyawan,  sekitar 40% di antaranya bekerja di San Jose. Adobe juga memiliki operasi pembangunan besar di Orlando , Seattle, San Francisco, Lehi, Utah , Minneapolis , Waltham, Massachusetts , dan San Luis Obispo, California di Amerika Serikat, Ottawa , Kanada, Hamburg , Jerman, Noida dan Bangalore , India, Bucharest , Rumania, Basel , Swiss, dan Beijing , Cina.

        footer
          img(src='/image/footer.png')
          p 2
          te History Adobe 
        
      section
        center
          img(src='/image/3.png')
        footer
          img(src='/image/footer.png')
          p 3
          te Adobe Product

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        hr
        pre
          code.language-javascript.
            bespoke.from('article', {
              keys: true,
              touch: true,
              hash: true,
              state: true,
              bullets: 'li, .bullet'
            });

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild